
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
# build/  # 注释掉这一行，允许构建结果被跟踪
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/